name: Build and publish image

on:
  push:
    branches: [main, master]

jobs:

  build-publish:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      # - name: Login to DockerHub
      #   uses: docker/login-action@v1
      #   with:
      #     username: ${{ env.GITHUB_ACTOR }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to Github Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.GITHUB_ACTOR }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build image and push to registries
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ env.GITHUB_ACTOR }}/docker-ansible:latest
          # tags: |
          #   ${{ env.GITHUB_ACTOR }}/docker-ansible:latest 
          #   ghcr.io/${{ env.GITHUB_ACTOR }}/docker-ansible:latest
